nav {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}
nav a {
    color: rgb(247, 239, 239);
    display: block;
    padding: 20px;
}
h1{
    color: #f2ebeb;
}
main img{
    width: 200px;
    height: auto;
    border: 0 5px 12px box-shadow rgb(46, 47, 48);
    padding: 2px;
    box-shadow: 7 7 30px;

}
body {
    background-color: rgb(10, 10, 10);
}
p {
    padding: 0px;
}
aside {
    width: 30%;
    max-width: 1000px;
    min-width: 100px;
    /*background-color: rgb(86, 85, 85);*/
    

}
footer {

    margin-top: 5px;
    border-top: 5px;
    position: absolute;
    width: 100%;

    border: 3px solid whitesmoke;
    text-align: center;
} 
